.global{
    margin-top: 20px;
    margin-left: 20px;
}

._left{
    float: left;
    width: 30px;
}

.l_img{
    width: 200px;
    height: 160px;
}

.wenzi{
    margin-left: 20px;
    margin-top: 10px;
}

.l_p{
    font-size: 12px;
    font-family: "Microsoft YaHei";
    width: 180px;
    border-bottom: 1px #D3D3D3 solid;
    line-height: 40px;
    margin: 0 auto;
}

._right{
    border-left: 1px #D3D3D3 solid;
    width: 70%;
    height: 100%;
    float: left;
    margin-left: 220px;
}

.r_top{
    margin-top: 20px;
    border-bottom: 1px #D3D3D3 solid;
    height: 100px;
}

.tu{
    margin-left: 30px;
    float: left;
}

.r_img{
    height: 60px;
    width: 60px;
    margin: 0 auto;
    float: left;
}

.name{
    line-height: 30px;
    font-size: 10px;
    margin: 0 60px;
}

.num{
    line-height: 30px;
    font-size: 20px;
    margin: 0 60px;
}

.r_bottom{

}

.r_bottom_top{
    border-bottom: 1px #D3D3D3 solid;
    height: 30px;
}

.tubiao{
    height: 20px;
    width: 5px;
    background-color: #0084f6;
    margin-left: 20px;
    margin-top: 5px;
    margin-bottom: 5px;
    float: left;
}

.jibenxinxi{
    height: 20px;
    font-size: 10px;
    margin-top: 6px;
    margin-left: 5px;
    float: left;
}

.r_bottom_bottom{
    clear: both;
    font-size: 12px;
    font-family: "Microsoft YaHei";
    margin-left: 40px;
}

.changecolor:hover{
    background-color: #B4CDCD;
}

.lei{
    width: 200px;
    height: 40px;
    border-style: none;
    border-bottom: 1px #D3D3D3 solid;
}

.zhi{
    width: 500px;
    height: 40px;
    border-style: none;
    border-bottom: 1px #D3D3D3 solid;
    padding: 0;
    margin: 0;
    background-color: #E0EEEE;
    text-align: center;
}