.global{
    margin-left: 80px;
    margin-top: 30px;
}

._top{

}

.list{
    font-size: 15px;
    font-family: "Microsoft YaHei";
    margin-top: 30px;
}

.lable{
    font-size: 16px;
    font-family: "Microsoft YaHei";
    line-height: 30px;
}

.input{
    border: 1px #D3D3D3 solid;
    height: 30px;
    width: 200px;
}

.but{
    height: 30px;
    width: 50px;
    border: none;
    background-color: #0084f6;
    color: #fff;
    margin-left: 10px;
}

.but:hover{
    background-color: #2a9cdd;
}

.l_table{
    border-collapse:collapse;
}

.l_th{
    width: 150px;
    height: 40px;
    border-style: none;
    border-bottom: 1px #D3D3D3 solid;
}

.l_td{
    height: 30px;
    border: 1px #D3D3D3 solid;
    padding: 0;
    margin: 0;
    text-align: center;
    font-size: 13px;
    border-collapse: separate;
    background-color: #f0f0f0;
}

.l_t{
    height: 40px;
    border: 1px #D3D3D3 solid;
    margin: 0;
    text-align: left;
    font-size: 13px;
    border-collapse: separate;
    padding-left: 15px;
}

.l_tr{
    text-align: left;
}

.l_tr:hover{
    background-color: #ebf2f9;
}