<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
<head>
    <meta charset="UTF-8"></meta>
    <title>Title</title>
</head>
<link th:href="@{css/themes/default/easyui.css}" rel="stylesheet"></link>
<link th:href="@{css/themes/icon.css}" rel="stylesheet" ></link>
<script th:src="@{js/jquery-3.2.1.min.js}" type="text/javascript"></script>
<script th:src="@{js/jquery.easyui.min.js}" type="text/javascript"></script>
<script th:src="@{js/easyui-lang-zh_CN.js}" type="text/javascript"></script>
<body>
<table id="dg" class="easyui-datagrid"></table>
<script th:src="@{js/TableView.js}"></script>
</body>
</html>